In [2]:
pip install tensorflow

Collecting tensorflowNote: you may need to restart the kernel to use updated packages.

  Downloading tensorflow-2.10.0-cp37-cp37m-win_amd64.whl (455.9 MB)
Collecting protobuf<3.20,>=3.9.2
  Downloading protobuf-3.19.6-cp37-cp37m-win_amd64.whl (896 kB)
Collecting tensorflow-estimator<2.11,>=2.10.0
  Downloading tensorflow_estimator-2.10.0-py2.py3-none-any.whl (438 kB)
Requirement already satisfied: six>=1.12.0 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (1.15.0)
Collecting astunparse>=1.6.0
  Downloading astunparse-1.6.3-py2.py3-none-any.whl (12 kB)
Collecting h5py>=2.9.0
  Downloading h5py-3.7.0-cp37-cp37m-win_amd64.whl (2.6 MB)
Collecting flatbuffers>=2.0
  Downloading flatbuffers-22.9.24-py2.py3-none-any.whl (26 kB)
Collecting gast<=0.4.0,>=0.2.1
  Downloading gast-0.4.0-py3-none-any.whl (9.8 kB)
Collecting keras-preprocessing>=1.1.1
  Downloading Keras_Preprocessing-1.1.2-py2.py3-none-any.whl (42 kB)
Requirement already satisfied: typing-extensions>=3.6.6 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (4.1.1)
Collecting tensorflow-io-gcs-filesystem>=0.23.1
  Downloading tensorflow_io_gcs_filesystem-0.27.0-cp37-cp37m-win_amd64.whl (1.5 MB)
Collecting libclang>=13.0.0
  Downloading libclang-14.0.6-py2.py3-none-win_amd64.whl (14.2 MB)
Collecting wrapt>=1.11.0
  Downloading wrapt-1.14.1-cp37-cp37m-win_amd64.whl (35 kB)
Collecting opt-einsum>=2.3.2
  Downloading opt_einsum-3.3.0-py3-none-any.whl (65 kB)
Collecting numpy>=1.20
  Downloading numpy-1.21.6-cp37-cp37m-win_amd64.whl (14.0 MB)
Collecting absl-py>=1.0.0
  Downloading absl_py-1.3.0-py3-none-any.whl (124 kB)
Collecting termcolor>=1.1.0
  Downloading termcolor-2.0.1-py3-none-any.whl (5.4 kB)
Collecting google-pasta>=0.1.1
  Downloading google_pasta-0.2.0-py3-none-any.whl (57 kB)
Requirement already satisfied: setuptools in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (47.3.1.post20200622)
Collecting grpcio<2.0,>=1.24.3
  Downloading grpcio-1.50.0-cp37-cp37m-win_amd64.whl (3.6 MB)
Collecting keras<2.11,>=2.10.0
  Downloading keras-2.10.0-py2.py3-none-any.whl (1.7 MB)
Collecting tensorboard<2.11,>=2.10
  Downloading tensorboard-2.10.1-py3-none-any.whl (5.9 MB)
Requirement already satisfied: packaging in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from tensorflow) (21.3)
Requirement already satisfied: wheel<1.0,>=0.23.0 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from astunparse>=1.6.0->tensorflow) (0.34.2)
Collecting google-auth<3,>=1.6.3
  Downloading google_auth-2.13.0-py2.py3-none-any.whl (174 kB)
Requirement already satisfied: requests<3,>=2.21.0 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (2.27.1)
Collecting tensorboard-data-server<0.7.0,>=0.6.0
  Downloading tensorboard_data_server-0.6.1-py3-none-any.whl (2.4 kB)
Collecting google-auth-oauthlib<0.5,>=0.4.1
  Downloading google_auth_oauthlib-0.4.6-py2.py3-none-any.whl (18 kB)
Collecting tensorboard-plugin-wit>=1.6.0
  Downloading tensorboard_plugin_wit-1.8.1-py3-none-any.whl (781 kB)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from tensorboard<2.11,>=2.10->tensorflow) (2.2.1)
Collecting markdown>=2.6.8
  Downloading Markdown-3.4.1-py3-none-any.whl (93 kB)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from packaging->tensorflow) (2.4.7)
Collecting rsa<5,>=3.1.4; python_version >= "3.6"
  Downloading rsa-4.9-py3-none-any.whl (34 kB)
Collecting pyasn1-modules>=0.2.1
  Downloading pyasn1_modules-0.2.8-py2.py3-none-any.whl (155 kB)
Collecting cachetools<6.0,>=2.0.0
  Downloading cachetools-5.2.0-py3-none-any.whl (9.3 kB)
Requirement already satisfied: idna<4,>=2.5; python_version >= "3" in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (1.26.9)
Requirement already satisfied: charset-normalizer~=2.0.0; python_version >= "3" in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from requests<3,>=2.21.0->tensorboard<2.11,>=2.10->tensorflow) (2.0.12)
Collecting requests-oauthlib>=0.7.0
  Downloading requests_oauthlib-1.3.1-py2.py3-none-any.whl (23 kB)
Collecting MarkupSafe>=2.1.1
  Downloading MarkupSafe-2.1.1-cp37-cp37m-win_amd64.whl (17 kB)
Requirement already satisfied: importlib-metadata>=4.4; python_version < "3.10" in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow) (4.11.3)
Collecting pyasn1>=0.1.3
  Downloading pyasn1-0.4.8-py2.py3-none-any.whl (77 kB)
Collecting oauthlib>=3.0.0
  Downloading oauthlib-3.2.2-py3-none-any.whl (151 kB)
Requirement already satisfied: zipp>=0.5 in c:\users\spectre 13 x360\anaconda3\envs\pythondata\lib\site-packages (from importlib-metadata>=4.4; python_version < "3.10"->markdown>=2.6.8->tensorboard<2.11,>=2.10->tensorflow) (3.7.0)
Installing collected packages: protobuf, tensorflow-estimator, astunparse, numpy, h5py, flatbuffers, gast, keras-preprocessing, tensorflow-io-gcs-filesystem, libclang, wrapt, opt-einsum, absl-py, termcolor, google-pasta, grpcio, keras, pyasn1, rsa, pyasn1-modules, cachetools, google-auth, tensorboard-data-server, oauthlib, requests-oauthlib, google-auth-oauthlib, tensorboard-plugin-wit, markdown, tensorboard, tensorflow, MarkupSafe
  Attempting uninstall: numpy
    Found existing installation: numpy 1.18.5
    Uninstalling numpy-1.18.5:
      Successfully uninstalled numpy-1.18.5
  Attempting uninstall: MarkupSafe
    Found existing installation: MarkupSafe 2.0.1
    Uninstalling MarkupSafe-2.0.1:
      Successfully uninstalled MarkupSafe-2.0.1
Successfully installed MarkupSafe-2.1.1 absl-py-1.3.0 astunparse-1.6.3 cachetools-5.2.0 flatbuffers-22.9.24 gast-0.4.0 google-auth-2.13.0 google-auth-oauthlib-0.4.6 google-pasta-0.2.0 grpcio-1.50.0 h5py-3.7.0 keras-2.10.0 keras-preprocessing-1.1.2 libclang-14.0.6 markdown-3.4.1 numpy-1.21.6 oauthlib-3.2.2 opt-einsum-3.3.0 protobuf-3.19.6 pyasn1-0.4.8 pyasn1-modules-0.2.8 requests-oauthlib-1.3.1 rsa-4.9 tensorboard-2.10.1 tensorboard-data-server-0.6.1 tensorboard-plugin-wit-1.8.1 tensorflow-2.10.0 tensorflow-estimator-2.10.0 tensorflow-io-gcs-filesystem-0.27.0 termcolor-2.0.1 wrapt-1.14.1

## Preprocessing

In [22]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [23]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(["EIN", "NAME"], axis = 1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [24]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [25]:
# Look at APPLICATION_TYPE value counts for binning
application_df.APPLICATION_TYPE.value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [40]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = application_df["APPLICATION_TYPE"].value_counts().loc[lambda x : x < 500].index


# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Look at CLASSIFICATION value counts for binning
application_df["CLASSIFICATION"].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2190        1
C1900        1
C6100        1
C5200        1
C1283        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [48]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df["CLASSIFICATION"].value_counts().loc[lambda x : x > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C3200        2
C1267        2
C1246        2
C1256        2
C1234        2
Name: CLASSIFICATION, dtype: int64

In [49]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = application_df["CLASSIFICATION"].value_counts().loc[lambda x : x < 1500].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [52]:
# Convert categorical data to numeric with `pd.get_dummies`
converted_df = pd.get_dummies(application_df)
converted_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,0,1,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [54]:
# Split our preprocessed data into our features and target arrays
y = converted_df["IS_SUCCESSFUL"].values
X = converted_df.drop(columns= "IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1)

In [55]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [57]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_features = len(X_train[0])
nodes_layer1 = 80
nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer1, activation="relu", input_dim= input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                3520

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [58]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [59]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5734 - accuracy: 0.7181
Epoch 2/100
804/804 [==============================] - 1s 890us/step - loss: 0.5564 - accuracy: 0.7286
Epoch 3/100
804/804 [==============================] - 1s 909us/step - loss: 0.5534 - accuracy: 0.7303
Epoch 4/100
804/804 [==============================] - 1s 882us/step - loss: 0.5509 - accuracy: 0.7316
Epoch 5/100
804/804 [==============================] - 1s 900us/step - loss: 0.5504 - accuracy: 0.7311
Epoch 6/100
804/804 [==============================] - 1s 922us/step - loss: 0.5493 - accuracy: 0.7312
Epoch 7/100
804/804 [==============================] - 1s 890us/step - loss: 0.5489 - accuracy: 0.7318
Epoch 8/100
804/804 [==============================] - 1s 929us/step - loss: 0.5474 - accuracy: 0.7327
Epoch 9/100
804/804 [==============================] - 1s 943us/step - loss: 0.5468 - accuracy: 0.7330
Epoch 10/100
804/804 [==============================] - 1s 932us/step - loss: 0.5466 - accuracy: 0.7339
Epoch 11/100
804/804 [==============================] - 1s 934us/step - loss: 0.5465 - accuracy: 0.7334
Epoch 12/100
804/804 [==============================] - 1s 954us/step - loss: 0.5454 - accuracy: 0.7345
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7351
Epoch 14/100
804/804 [==============================] - 1s 966us/step - loss: 0.5451 - accuracy: 0.7342
Epoch 15/100
804/804 [==============================] - 1s 927us/step - loss: 0.5446 - accuracy: 0.7344
Epoch 16/100
804/804 [==============================] - 1s 914us/step - loss: 0.5438 - accuracy: 0.7360
Epoch 17/100
804/804 [==============================] - 1s 925us/step - loss: 0.5436 - accuracy: 0.7343
Epoch 18/100
804/804 [==============================] - 1s 900us/step - loss: 0.5435 - accuracy: 0.7366
Epoch 19/100
804/804 [==============================] - 1s 914us/step - loss: 0.5431 - accuracy: 0.7354
Epoch 20/100
804/804 [==============================] - 1s 920us/step - loss: 0.5431 - accuracy: 0.7364
Epoch 21/100
804/804 [==============================] - 1s 961us/step - loss: 0.5425 - accuracy: 0.7348
Epoch 22/100
804/804 [==============================] - 1s 929us/step - loss: 0.5426 - accuracy: 0.7364
Epoch 23/100
804/804 [==============================] - 1s 935us/step - loss: 0.5423 - accuracy: 0.7370
Epoch 24/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7361
Epoch 25/100
804/804 [==============================] - 1s 949us/step - loss: 0.5420 - accuracy: 0.7357
Epoch 26/100
804/804 [==============================] - 1s 971us/step - loss: 0.5418 - accuracy: 0.7361
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7362
Epoch 28/100
804/804 [==============================] - 1s 913us/step - loss: 0.5411 - accuracy: 0.7366
Epoch 29/100
804/804 [==============================] - 1s 954us/step - loss: 0.5412 - accuracy: 0.7358
Epoch 30/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7364
Epoch 31/100
804/804 [==============================] - 1s 996us/step - loss: 0.5412 - accuracy: 0.7371
Epoch 32/100
804/804 [==============================] - 1s 990us/step - loss: 0.5406 - accuracy: 0.7367
Epoch 33/100
804/804 [==============================] - 1s 928us/step - loss: 0.5401 - accuracy: 0.7386
Epoch 34/100
804/804 [==============================] - 1s 938us/step - loss: 0.5402 - accuracy: 0.7385
Epoch 35/100
804/804 [==============================] - 1s 938us/step - loss: 0.5402 - accuracy: 0.7366
Epoch 36/100
804/804 [==============================] - 1s 935us/step - loss: 0.5400 - accuracy: 0.7365
Epoch 37/100
804/804 [==============================] - 1s 954us/step - loss: 0.5402 - accuracy: 0.7375
Epoch 38/100
804/804 [==============================] - 1s 935us/step - loss: 0.5399 - accuracy: 0.7373
Epoch 39/100
804/804 [==============================] - 1s 940us/step - loss: 0.5397 - accuracy: 0.7383
Epoch 40/100
804/804 [==============================] - 1s 966us/step - loss: 0.5398 - accuracy: 0.7372
Epoch 41/100
804/804 [==============================] - 1s 939us/step - loss: 0.5394 - accuracy: 0.7379
Epoch 42/100
804/804 [==============================] - 1s 971us/step - loss: 0.5392 - accuracy: 0.7378
Epoch 43/100
804/804 [==============================] - 1s 953us/step - loss: 0.5392 - accuracy: 0.7376
Epoch 44/100
804/804 [==============================] - 1s 930us/step - loss: 0.5390 - accuracy: 0.7381
Epoch 45/100
804/804 [==============================] - 1s 959us/step - loss: 0.5388 - accuracy: 0.7379
Epoch 46/100
804/804 [==============================] - 1s 943us/step - loss: 0.5387 - accuracy: 0.7378
Epoch 47/100
804/804 [==============================] - 1s 953us/step - loss: 0.5386 - accuracy: 0.7379
Epoch 48/100
804/804 [==============================] - 1s 966us/step - loss: 0.5386 - accuracy: 0.7381
Epoch 49/100
804/804 [==============================] - 1s 940us/step - loss: 0.5382 - accuracy: 0.7379
Epoch 50/100
804/804 [==============================] - 1s 968us/step - loss: 0.5388 - accuracy: 0.7383
Epoch 51/100
804/804 [==============================] - 1s 948us/step - loss: 0.5384 - accuracy: 0.7381
Epoch 52/100
804/804 [==============================] - 1s 940us/step - loss: 0.5382 - accuracy: 0.7381
Epoch 53/100
804/804 [==============================] - 1s 971us/step - loss: 0.5386 - accuracy: 0.7383
Epoch 54/100
804/804 [==============================] - 1s 929us/step - loss: 0.5383 - accuracy: 0.7390
Epoch 55/100
804/804 [==============================] - 1s 951us/step - loss: 0.5383 - accuracy: 0.7385
Epoch 56/100
804/804 [==============================] - 1s 946us/step - loss: 0.5379 - accuracy: 0.7384
Epoch 57/100
804/804 [==============================] - 1s 925us/step - loss: 0.5373 - accuracy: 0.7381
Epoch 58/100
804/804 [==============================] - 1s 973us/step - loss: 0.5382 - accuracy: 0.7383
Epoch 59/100
804/804 [==============================] - 1s 940us/step - loss: 0.5377 - accuracy: 0.7388
Epoch 60/100
804/804 [==============================] - 1s 943us/step - loss: 0.5375 - accuracy: 0.7385
Epoch 61/100
804/804 [==============================] - 1s 969us/step - loss: 0.5377 - accuracy: 0.7387
Epoch 62/100
804/804 [==============================] - 1s 933us/step - loss: 0.5373 - accuracy: 0.7379
Epoch 63/100
804/804 [==============================] - 1s 954us/step - loss: 0.5376 - accuracy: 0.7386
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7394
Epoch 65/100
804/804 [==============================] - 1s 958us/step - loss: 0.5375 - accuracy: 0.7378
Epoch 66/100
804/804 [==============================] - 1s 996us/step - loss: 0.5371 - accuracy: 0.7394
Epoch 67/100
804/804 [==============================] - 1s 940us/step - loss: 0.5374 - accuracy: 0.7383
Epoch 68/100
804/804 [==============================] - 1s 971us/step - loss: 0.5369 - accuracy: 0.7393
Epoch 69/100
804/804 [==============================] - 1s 955us/step - loss: 0.5370 - accuracy: 0.7392
Epoch 70/100
804/804 [==============================] - 1s 941us/step - loss: 0.5370 - accuracy: 0.7388
Epoch 71/100
804/804 [==============================] - 1s 998us/step - loss: 0.5370 - accuracy: 0.7379
Epoch 72/100
804/804 [==============================] - 1s 950us/step - loss: 0.5367 - accuracy: 0.7380
Epoch 73/100
804/804 [==============================] - 1s 976us/step - loss: 0.5365 - accuracy: 0.7395
Epoch 74/100
804/804 [==============================] - 1s 969us/step - loss: 0.5369 - accuracy: 0.7393
Epoch 75/100
804/804 [==============================] - 1s 933us/step - loss: 0.5368 - accuracy: 0.7388
Epoch 76/100
804/804 [==============================] - 1s 981us/step - loss: 0.5364 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 1s 964us/step - loss: 0.5362 - accuracy: 0.7390
Epoch 78/100
804/804 [==============================] - 1s 947us/step - loss: 0.5365 - accuracy: 0.7396
Epoch 79/100
804/804 [==============================] - 1s 963us/step - loss: 0.5360 - accuracy: 0.7393

Epoch 80/100
804/804 [==============================] - 1s 945us/step - loss: 0.5363 - accuracy: 0.7388
Epoch 81/100
804/804 [==============================] - 1s 982us/step - loss: 0.5359 - accuracy: 0.7395
Epoch 82/100
804/804 [==============================] - 1s 954us/step - loss: 0.5361 - accuracy: 0.7403
Epoch 83/100
804/804 [==============================] - 1s 923us/step - loss: 0.5362 - accuracy: 0.7395
Epoch 84/100
804/804 [==============================] - 1s 949us/step - loss: 0.5359 - accuracy: 0.7398
Epoch 85/100
804/804 [==============================] - 1s 968us/step - loss: 0.5356 - accuracy: 0.7401
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7392
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7392
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7396
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7398
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7401
Epoch 91/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7391
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7404
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7392
Epoch 94/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7399
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7395
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7398
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5350 - accuracy: 0.7404
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7395
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5352 - accuracy: 0.7398
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5348 - accuracy: 0.7401

In [60]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5593 - accuracy: 0.7298 - 284ms/epoch - 1ms/step
Loss: 0.5592915415763855, Accuracy: 0.7297959327697754

In [61]:
# Export our model to HDF5 file
nn.save('Resources/AlphabetSoupCharity.h5')